
body{
    background-color: pink;
}
.search{
    width: 50rem;
    height: 4rem;
    border-radius: 35px;
    margin-left: 29%;
    margin-bottom: 30px;  
}
.All{
    width: 50rem;
    height: 4rem;
    border: 4px solid gray;
    margin-left: 29%;
    border-radius: 20rem;
    background-color: rgb(243, 235, 235);
}
.react{
    margin-left: 20px;
    margin-top: 20px;
}
.heading{
    margin-left: 39%;
    font-size: 3rem;
    color: white;
}

@media(max-width:750px){
    .search {
        width: 22rem;
        height: 3rem;
        border-radius: 35px;
        margin-left: 2%;
        margin-bottom: 30px;
    }
    .All {
        width: 22rem;
        height: 3rem;
        border: 4px solid black;
        margin-left: 2%;
        border-radius: 20rem;
        background-color: rgb(224, 222, 222);
    }
    .heading {
        margin-left: 10%;
        font-size: 3rem;
        color: white;
    }

} 